{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Спасибо яндекс практикуму если
      бы не они я бы не смог сделать этот сайт
      бы не они я бы не смог сделать этот сайт
      Я использовал django , html , css
    </p>
  </article>
</div>
{% endblock %}